body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    background-color: lightblue;
    border-radius: 150px;
}

.link{
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    background-color:rgb(177, 224, 46);
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
a:link {
    color:black
}

a:visited {
    color:black
}

a:hover {
    color: grey;
}

#GFG {
    text-decoration: none;
}
